<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #002244; --color: white;">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add New Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="display: flex; flex-direction: column; gap: 20px; margin-top: 10px;">
    
    <ion-item fill="outline" mode="md">
      <ion-label position="stacked">Food/Drink Name</ion-label>
      <ion-input [(ngModel)]="newItem.name" placeholder="Example: Grilled Chicken Rice"></ion-input>
    </ion-item>

    <ion-item fill="outline" mode="md">
      <ion-label position="stacked">Price (RM)</ion-label>
      <ion-input type="number" [(ngModel)]="newItem.price" placeholder="0.00"></ion-input>
    </ion-item>

    <ion-item fill="outline" mode="md">
      <ion-label position="stacked">Category</ion-label>
      <ion-input [(ngModel)]="newItem.category" placeholder="Example: Western, Beverage, or Sides"></ion-input>
    </ion-item>

    <ion-button expand="block" 
                style="--background: #002244; --border-radius: 8px; height: 50px; font-weight: bold; margin-top: 20px;" 
                (click)="saveItem()">
      SAVE MENU
    </ion-button>

  </div>
</ion-content>